.navbar__link {
  color: #8e9297;
  display: block;
  height: 100%;
  line-height: 40px;
  text-decoration: none;
  width: 100%;
}

.navbar__item:hover .navbar__link {
  color: #dcddde;
}

.navbar__item--selected .navbar__link {
  color: white !important;
}
