.navbar__item {
  border-radius: 3px;
  margin: 6px;
  padding: 0 6px;
}

.navbar__item:hover {
  background-color: rgba(79, 84, 92, 0.16);
}

.navbar__item--selected {
  background-color: rgba(79, 84, 92, 0.32) !important;
}
