.navbar {
  background-color: #292b2f;
  height: 100%;
  left: -245px;
  position: fixed;
  padding: 16px;
  top: 0;
  transition: 0.2s cubic-bezier(0, 0, 0, 0.2);
  width: 245px;
  z-index: 2;
}

.navbar--opened {
  transform: translateX(245px);
}

.navbar--opened ~ .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  content: '';
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s cubic-bezier(0, 0, 0, 0.2);
  width: calc(100%);
  z-index: 1;
}

@media (min-width: 1440px) {
  .navbar {
    left: 0;
  }

  .navbar--opened {
    transform: translateX(0);
  }

  .navbar--opened ~ .overlay {
    display: none;
  }
}
