<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gladius
  body
    block content

    - if (messages.error)
      span= messages.error

    - if (messages.info)
      span= messages.info

    block scripts
