<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gladius
    link(rel="stylesheet", href="/static/css/style.css")
    link(rel="stylesheet", href="/static/css/button/button.css")
    link(rel="stylesheet", href="/static/css/form/form.css")
    link(rel="stylesheet", href="/static/css/form/form-group.css")
    link(rel="stylesheet", href="/static/css/form/form-input.css")
    link(rel="stylesheet", href="/static/css/form/form-label.css")
    link(rel="stylesheet", href="/static/css/sign-in/sign-in-content.css")
    link(rel="stylesheet", href="/static/css/sign-in/sign-in-title.css")
  body
    block content
