extends layout.pug

block content
  h2 Rooms

  a(href="/room/create") Add a new room
  a(href="/room/join/create") Join an existing room

  ul
    each room in rooms
      li
        span= room.name
        a(href=`room/${room.id}`) Open
