extends layout.pug

block content
  ul
    each room in rooms
      li
        a(href=`/room/${room.id}`)= room.name

  a(href="/room/create") Add a new room
  a(href="/room/join/create") Join to a room
