extends layout.pug

block content
  nav(class="navbar")
    ul(class="navbar__list")
      each room, index in rooms
        if index == 1
          li(class="navbar__item navbar__item--selected")
            a(class="navbar__link", href=`room/${room.id}`)
              span(class="navbar__label")= room.name
        else
          li(class="navbar__item")
            a(class="navbar__link", href=`room/${room.id}`)
              span(class="navbar__label")= room.name

  div(class="container")
    a(href="/room/create") Add a new room
    a(href="/room/join/create") Join an existing room
