extends layout.pug

block content
  h2= room.name

  ul
    each message in room.messages
      li
        span= message.content

  form
    input(type="hidden" value=`${room.id}` name="id")
    textarea(name="content")
    button Send

block scripts
  script(type="module").
    import { createTransporter } from '/js/transporter.js'
    import { createChat } from '/js/chat.js'

    const form = document.querySelector('form')

    const id = form.id.value

    const transporter = createTransporter(id)

    const chat = createChat(transporter)

    chat.subscribe((message) => {
      const li = document.createElement('li')
      li.textContent = message.content

      const ul = document.querySelector('ul')
      ul.append(li)

      form.content.value = ''
      form.content.focus()
    })

    form.onsubmit = async (e) => {
      e.preventDefault()

      const content = e.target.content.value

      chat.send(content)
    }
