extends layout.pug

block content
  nav(class="navbar")
    span(class="navbar__title") Rooms
    ul(class="navbar__items")
      each room, index in rooms
        if index == 1
          li(class="navbar__item navbar__item--selected")
            a(class="navbar__link", href=`room/${room.id}`)
              span(class="navbar__label")= room.name
        else
          li(class="navbar__item")
            a(class="navbar__link", href=`room/${room.id}`)
              span(class="navbar__label")= room.name

  div(class="overlay")

  button(class="menu__button" type="button")
    i(class="fas fa-bars")

  div(class="room")
    div(class="room__content")
      a(class="room__option" href="/room/create")
        i(class="fas fa-plus")
        p Add a new room
      a(class="room__option" href="/room/join/create")
        i(class="fas fa-user-plus")
        p Join to a room
