.menu__button {
  background-color: #292b2f;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 50px;
  left: 16px;
  position: fixed;
  top: 16px;
  transition: 0.2s cubic-bezier(0, 0, 0, 0.2);
  width: 50px;
  z-index: 2;
}

.menu__button i {
  color: #fff;
  font-size: 24px;
}

.navbar--opened ~ .menu__button {
  transform: translateX(235px);
}

@media(min-width: 1440px) {
  .menu__button {
    display: none;
  }
}
